.App {
  max-width: 1300px;
  margin-left: auto;
}

.App h2 {
  margin-top: 3.5rem;
  font-size: 1.75rem;
  font-weight: 500;
}

.cardList {
  display: flex;
  max-width: 1200px;
  margin-top: 1rem;
  flex-wrap: wrap;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.spinner {
  height: 210px;
  width: 210px;
  margin: 20px auto;
  border-radius: 50%;
  border: dashed 10px #0fbf6b;
  animation: loader-spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

button{
    width: 180px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}

