* {
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: #1c1c1c;
    color: #f5f5f5;
    -webkit-font-smoothing: antialiased !important;
}

body, input, button {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong{
    font-weight: 700;
}

button{
    cursor: pointer;
    border: 0;
}

a{
    text-decoration: none;
}