.card {
  width: 250px;
  height: 250px;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  margin-top: 3rem;
  border-radius: 20px;
  border: 2px solid #0fbf6b;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #0fbf6b;
  position: absolute;
  top: -45px;
}

.card h3,
span {
  margin-top: 2rem;
  text-align: center;
}

.card span {
  margin-bottom: 2rem;
}

.card p{
    text-align: center;
    color: #0fbf6b;
}

.card button{
    width: 200px;
    height: 30px;
    background-color: royalblue;
    border-radius: 5px;
    color: #f5f5f5;
}